---
import Layout from '../layouts/Layout.astro';
import Playground from '../components/Playground.svelte';
---

<Layout title="Batchkit Playground">
  <main class="min-h-screen p-6 max-w-[1400px] mx-auto">
    <Playground client:load />
  </main>
</Layout>

